  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{
    background-color: var(--body-bg);
    height: auto;
    width: 100%;
  }

  .search-section,
  .categories-section{
    background-image: url('https://private-user-images.githubusercontent.com/104522465/380936157-d0ceb98d-ab89-41ac-b36a-7decae822068.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MzAxNjQ3OTMsIm5iZiI6MTczMDE2NDQ5MywicGF0aCI6Ii8xMDQ1MjI0NjUvMzgwOTM2MTU3LWQwY2ViOThkLWFiODktNDFhYy1iMzZhLTdkZWNhZTgyMjA2OC5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQxMDI5JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MTAyOVQwMTE0NTNaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT03NmZmYWQ1NTBkMTMwZGM5NzRiOWYyZTM5YTM4OGVhY2E2YTE3Y2YzMzkzOTI3NzYxMGRiYjg0OGNmMjIxMzRjJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.g-1C9bB63FX-ek9Ik4UTh3qE4fKshSCdfMqZIdxceN4');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}