  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{
    background-color: var(--body-bg);
    height: auto;
    width: 100%;
  }

  header{
    border-bottom: 1px solid ;
  }
  footer{
    border-top: 1px solid ;
  }

  .tiny-text{
    font-size: 0.5rem;
  }

  .search-section{
    background-image: url('https://res.cloudinary.com/dr1jbzn9r/image/upload/v1730406007/bg_search_wfisto.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}